/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #f5f8ff;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  margin-top: 110px;
}

.banner-container {
  background-image: url(../Assets/Hero-bg.png);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

nav h3 {
  color: #4e47ff;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
}

.primary-btn {
  height: 48px;
  padding: 12px 36px;
  border-radius: 10px;
  background: #4e47ff;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
}

.banner {
  text-align: center;
  padding: 150px 0px;
}

.banner h1 {
  color: #252432;
  font-family: Raleway;
  font-size: 65px;
  font-weight: 700;
}

/* Action Section Styles */
.action-container {
  display: flex;
  justify-content: space-between;
}

.action-content {
  width: 45%;
}

.action-img img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

.action-title {
  color: #252432;
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
}

.action-description {
  color: rgba(37, 36, 50, 0.5);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
}

/* Productive Users Section Styles */
.users-information-container {
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
}

.users-information-headline {
  color: #252432;
  text-align: center;
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
}

.users-information-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-information-title {
  color: #4e47ff;
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
}

.users-information-text {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

/* Review Section Styles */
.reviewer-section-headline {
  color: #252432;
  text-align: center;
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
}

.reviewer-cards-container {
  display: flex;
  gap: 20px;
}

.reviewer-card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
}

.reviewer-card-contents {
  padding: 24px;
}

.icon-images img {
  width: 20px;
  height: 20px;
}

.reviewer-title {
  color: #252432;
  font-size: 28px;
  font-family: Inter;
}

.reviewer-description {
  color: #1e1e1e;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 600;
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.reviewer-img img {
  width: 40px;
  height: 40px;
}

.reviewer-name {
  color: #757575;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  margin: 0;
}

.date {
  color: #b3b3b3;
  font-size: 16px;
  font-family: Inter;
  font-weight: 300;
  margin: 0;
  padding-top: 4px;
}
